@import "./variables";

button {
    border-radius: $btn-border-radius;
}

h1 {
    font: $h1-font;
}

h2 {
    font: $h2-font;
}

.container {
    margin-left: 14%;
    margin-right: 14%;
    width: 72%;
    padding-bottom: 200px;
}

.fw-bold {
    font-weight: bold;
}

.color-main {
    color: $main-color;
}

.color-main-accent {
    color: $main-accent-color;
}

.color-main-accent-light {
    color: $main-accent-light;
}

.color-extra {
    color: $extra-font-color;
}

.text-underlined {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    background-image: url(../img/underline.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
}

.fill-main-accent-color {
    fill: $main-accent-color;
}
.fill-main-accent-color-light {
    fill: $main-accent-light;
}
.fill-main-color {
    fill: $main-color;
}
.fill-main-color-light {
    fill: $main-color-light;
}
.fill-main-color-shadow {
    fill: $main-color-shadow;
}
.fill-main-color-dark {
    fill: $main-color-dark;
}
.fill-main-color-extra-dark {
    fill: $main-color-extra-dark;
}
.fill-main-accent-underline {
    fill: $main-accent-light;
}
.stroke-main-color {
    stroke: $main-color;
}

.link {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    display: inline-block;
}

.block-title {
    text-align: center;
    padding-bottom: 50px;
}

.cursor-pointer {
    cursor: pointer;
}
