.girl-and-space-img {
    .girl-and-space-img-container {
        position: relative;
        .elephant {
            position: absolute;
            right: 185px;
            top: 224px;
        }

        .lamp {
            position: absolute;
            right: 265px;
            top: 327px;
        }

        .rocket {
            position: absolute;
            right: 605px;
            top: 352px;
        }

        .clock {
            position: absolute;
            right: 661px;
            top: 218px;
        }
        .plane {
            position: absolute;
            right: 30px;
            top: 330px;
        }
        .planet1 {
            position: absolute;
            right: 497px;
            top: 460px;
        }
        .planet2 {
            position: absolute;
            right: 388px;
            top: 134px;
        }

        .planet3 {
            position: absolute;
            right: 581px;
            top: 81px;
        }

        .atom {
            position: absolute;
            right: 737px;
            top: 131px;
        }
        .divide {
            position: absolute;
            right: 314px;
            top: 183px;
        }
        .plus {
            position: absolute;
            right: 400px;
            top: 240px;
        }
        .balloon {
            position: absolute;
            right: 462px;
            top: 299px;
        }
        .palette {
            position: absolute;
            right: 82px;
            top: 119px;
        }
        .pen {
            position: absolute;
            right: 390px;
            top: 619px;
        }
    }
}
