.plan{
    background-image: url(../img/sky-bg.png);
    height: 907px;
    background-position-x: center;


    .block-title{
        padding-bottom: 80px;
    }


    .plan-content{
        font:$point-font;
        color:$additional-font-color;

        position: relative;

        &>img{
            width: 100%;
            height: auto;
        }

        .plan-chapter{
            display: flex;
            position: absolute;
            .round-btn{
                margin-right: 40px;
            }
        }

        .chapter-1{
            top:-40px;
            left:-40px;
        }
        .chapter-2{
            top:40%;
            left:34%;
        }
        .chapter-3{
            top:83%;
            left:67%;
        }
    }
}