$main-color: #14a76c;
$main-color-shadow: #14a76c3f;

$main-accent-color: #ff652f;
$main-accent-shadow: #ff662f3a;

$main-gradient: linear-gradient(326.12deg, #5d77ff 17.95%, #6539c1 89.78%);

$main-font-color: #1f1d2a;
$additional-font-color: #4f5569;
$no-accent-font-color: #9fa0a7;
$extra-font-color: #ffffff;

$main-font-family: "Nunito", sans-serif;
$additional-font-family: "Rubik", sans-serif;

$background-color: white;

$btn-border-radius: 15px;

$h1-font: normal 700 55px $main-font-family;
$h2-font: normal 700 32px $additional-font-family;
$label-font: normal 400 15px $additional-font-family;
$p1-font: normal 400 22px $additional-font-family;
$p2-font: normal 400 18px $additional-font-family;
$nav-font: normal 700 20px $main-font-family;
$timer-font: normal 400 16px $main-font-family;
$point-font: normal 400 20px $additional-font-family;
$btn-font: normal 700 20px $additional-font-family;
$counter-font: normal 700 32px $additional-font-family;