@import "./reset.scss";
@import "./fonts.scss";
@import "./variables.scss";


.container{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.fw-bold{
    font-weight: bold;
}

.color-main{
    color:$main-color;
}
