$main-color: #14a76c;
$main-accent-color: #ff652f;
$main-gradient: linear-gradient(326.12deg, #5d77ff 17.95%, #6539c1 89.78%);

$main-font-color: #1f1d2a;
$additional-font-color: #4f5569;
$extra-font-color: #ffffff;

$main-font-family: "Nunito", sans-serif;
$additional-font-family: "Rubik", sans-serif;

